* {
    font-family: sans-serif;
}

.titulo {
    text-align: center;
}

body {
  margin: 0;
  background-color: aliceblue;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form input, form textarea {
    outline: unset;
    padding: 0px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

form input:focus, form textarea:focus {
    background-color: #D3D3D3;
}

form input[type-submit] {
    background-color: #cbe5fc
}
ul {
    list-style: none;
    padding: 0;
}

nav {
    background-color: rgb(203, 229, 252);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    
}

h1,
.logo {
    color: #8c52ff
    
}

.ícones {
    color: #8c52ff
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 20px;
}

h1 {
    margin: 0;
    padding: 10px;
}
